body {
    padding-bottom:20px;
}
.body-content
{
    margin-top: 50px;
    padding-left:15px;
    padding-right:15px;
}
.infobook
{
    margin:20px;
}
.infobook span{
    font-weight:bold;
    color:red;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.field-validation-error {
    color: #b94a48;
}
